/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/fonts
/public/shaders
/public/mix-manifest.json
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
public/css/app.css
public/js
public/images/uploads/profile
