// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
//$icon-font-path: '/fonts/bootstrap/';

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

body {
  padding: 60px;
}

.container {
  margin-top: 0px !important;
}

.user-profile-container {
  padding: 5px 10px 5px 10px;
}

.user-profile {
  display: flex;
  background-color: orange;
  max-height: 300px;
  width: 100%;
  justify-content: space-around;
  img {
    max-width: 100px;
    max-height: 100px;
  }
  .user-info {
    padding: 5px;
    width: 100%;
    h4 {
      font-weight: bold;
      margin-top: 0;
      margin-bottom: 5;
    }
    span {
      white-space: nowrap;
    }
  }
  .glyphicon {
    font-size: 1em;
  }
}

.navbar-nav li a h1 {
  margin-top:-7px;
  margin-bottom:0px;
  font-size: 30px;
}

.icons {
  margin-top: 7px !important;

  li {
    display:inline-block;
  }
}

.dropdown {
  position:relative;

  .dropdown-menu {
    overflow-y: scroll;
    max-height: 500px;

    .dropdown-header{
      font-size: 18px;
      font-weight: bold;
      text-align: center !important;
    }

    .dropdown-item {
      padding: 5px 10px 5px 10px;

      .dropdown-item-content {
        display: flex;
        background-color: orange;
        max-height: 300px;
        width: 100%;
        justify-content: space-around;
        img {
          max-width: 100px;
          max-height: 100px;
        }

        .dropdown-item-info {
          padding: 5px;
          width: 100%;
          h4 {
            font-weight: bold;
            margin-top: 0;
            margin-bottom: 5;
          }
          span {
            white-space: nowrap;
          }
        }
      }
    }
  }
}

.tile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  .tile {
    height: 175px;
    width: 175px;
    margin-bottom: 15px;
    .tile-front {
      img {
        height: auto;
        width: 100%;
      }
    }
    .tile-back {
      display: none;
      width: 100%;
      height: 100%;
      text-align: center;
    }
  }
}

.item-full {
    width: 400px;
    width: 100%;
    h2 {
      margin: 0px 0px 15px 0px;
    }
    .item-content {
      display: flex;
      width: 100%;
      img {
        width: 250px;
        height: 250px;
      }
      .item-info {
        padding-left: 25px;
        h4 {
          margin-top: 0;
        }
      }
    }
    .item-footer {
      display:flex;
      justify-content: flex-end;
      button {
        margin-top: 15px;
      }
    }
}
// Style for the partials.filter.blade

.filter{
  background-color:rgba(#ffffff, 0.97);
  border: solid;
  border-color: #000;
  border-width: medium;
   ul li {
    list-style-type: none;
  }
  #addgame{
    padding:10px;
  }
}
.slider.round{
  border-radius: 50px;
}



.lightbox {
  max-width: 1000px;
  min-width: 600px;
  display: none;
}
