// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("https://fonts.googleapis.com/css?family=Monofett");
//$icon-font-path: '/fonts/bootstrap/';

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

body {
  padding: 60px;

}

#sketch-holder {
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  z-index: -1;
}

.form-control {
  border: black !important;
}

.btn-info {
  background-color: orange !important;
  border-color: black !important;
  color: black !important;
}

.btn-default {
  border-color: black !important;
}

.btn-primary {
  background-color: orange !important;
  border-color: orange !important;
}

#title-sketch-holder {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  padding: 0px 0px 0px 0px;
}

.container {
  margin-top: 0px !important;
}

.user-profile-container {
  padding: 5px 10px 5px 10px;
}

.user-profile {
  display: flex;
  background-color: orange;
  max-height: 300px;
  width: 100%;
  justify-content: space-around;
  img {
    max-width: 100px;
    max-height: 100px;
  }
  .user-info {
    padding: 5px;
    width: 100%;
    h4 {
      font-weight: bold;
      margin-top: 0;
      margin-bottom: 5;
    }
    span {
      white-space: nowrap;
    }
  }
  .glyphicon {
    font-size: 1em;
  }
}

.navbar-nav li a h1 {
  margin-top:-7px;
  margin-bottom:0px;
  font-size: 30px;
}

.icons {
  margin-top: 7px !important;
  li {
    display:inline-block;
  }
}

.dropdown {
  position:relative;

  .dropdown-menu {
    overflow-y: scroll;
    max-height: 500px;

    .dropdown-header{
      font-size: 18px;
      font-weight: bold;
    }

    .dropdown-item {
      @media only screen and (min-width: 600px){
      padding: 5px 10px 5px 10px;
      min-width: 450px;
      }

      .dropdown-item-content {
        display: flex;
        background-color: orange;
        max-height: 300px;
        width: 100%;
        justify-content: space-around;
        img {
          max-width: 100px;
          max-height: 100px;
        }

        .dropdown-item-info {
          padding: 5px;
          width: 100%;
          h4 {
            font-weight: bold;
            margin-top: 0;
            margin-bottom: 5;
          }
        }
      }
    }
  }
}

.flip-container {
  perspective: 350px;
}

.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
  width: 175px;
  height: 175px;
  img {
    width: 100%;
    height: 100%;
  }
}

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.front, .back{
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}

.tile-container {
  .tile {
    margin-bottom: 15px;
  }
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.item-full {
  width: 400px;
  width: 100%;
  display: none;
  h2 {
    margin: 0px 0px 15px 0px;
}
  .item-content {
    display: flex;
    width: 100%;
    img {
      width: 250px;
      height: 250px;
    }
    .item-info {
      padding-left: 25px;
      h4 {
        margin-top: 0;
      }
    }
  }
  .item-footer {
    display:flex;
    justify-content: flex-end;
    button {
      margin-top: 15px;
    }
  }
}
// Style for the partials.filter.blade

.filter{
  background-color:rgba(#ffffff, 0.97);
   ul li {
    list-style-type: none;
  }
}

.lightbox {
  max-width: 1000px;
  min-width: 600px;
  display: none;
}

.item-owner-container {
  .item-owner-content {
    width: 100%;
    text-align: center;
  }
  .item-owner-list {
    display: flex;
    justify-content: center;
    padding-left: 20%;
    padding-right: 20%;
    .item-owner {
      margin: 10px;
      button {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 10px;
}

.pagination > li {
  display: inline;
}

.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 21px;
  line-height: 2;
  text-decoration: none;
  color: #FBA808;
  background-color: #1C190E;
  border: 3px solid #1C190E;
  margin-left: -1px;
  opacity: 0.9;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > li > span:hover,
.pagination > li > span:focus {
  z-index: 2;
  color: #1C190E;
  background-color: #F08508;
  border-color: #080102;
}

.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
  z-index: 3;
  color: #080102;
  background-color: #F08508;
  border-color: #080102;
  cursor: default;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #F08508;
  background-color: #080102;
  border-color: #080102;
  cursor: not-allowed;
}

.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.3333333;
}

.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}

.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}

.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 24px;
  line-height: 1.5;
}

.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

.filter {
    .title h2{
      padding-top: 0px;
    }
  background-color: #080102;
  opacity: 0.8;
  border-radius: 10px;
}

.title-container {
     height: 100%;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     position: absolute;
     left:0px;
     top:0px;
     h1 {
       font-size: 40em !important;
       margin: 0px !important;
       padding: 0px !important;
       color: #ffe100;
       mix-blend-mode: difference;
       font-family: 'Monofett', cursive;
     }
}

.panel {
  margin-bottom: 22px;
  background-color: #080102;
  border: 2px solid transparent;
  border-radius: 10px;
  opacity: 0.8;
}

.panel-body {
  padding: 15px;
}

.panel-heading {
  background-color: #8D2B11 !important;
  color: white !important;
  padding: 10px 15px;
  border-color: #8D2B11 !important;
  border-bottom: 2px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.panel-heading > .dropdown .dropdown-toggle {
  color: inherit;
}

.a:link {
  text-decoration: none;
}

.btn-link {
  color: #68AE35;
}

.btn-link:focus {
  color: #F08508;
}

label {
  color: white;
}

.featherlight .featherlight-content {
  background: #080102;
  opacity: 0.75;
  color: white;
}
